Goldstein_gpt_features/features.hdf5
audio/Goldstein/Monkey_in_the_middle_starting_from_"Act".wav
audio/Goldstein/monkey_and_horse
audio/Goldstein/monkey_and_horse.wav
audio/Goldstein/monkey_and_horse_corrected.wav
